

<footer role="footer">
<div class="row">
<div class="small-12 large-8 large-centered columns">

<ul>
<li>All content &copy; Dynamic Coaching.</li>
</ul>

</footer>

</div>
</div>
</div><!-- /#wrap -->




<!-- Google Analytics -->


<!-- Foundation -->

  <script src="/assets/js/foundation/foundation.js"></script>
  <script src="/assets/js/foundation/foundation.equalizer.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>



</body>
</html>
