

<footer role="footer">
<div class="row">
<div class="small-12 large-centered columns">

<ul class="small-block-grid-2 large-block-grid-4">
<li><a href=""><img src="{{ site.url }}/images/content/five.png" alt="Center for Non-profit Coaching" /></a></li>
<li><a href=""><img src="{{ site.url }}/images/content/disc.png" alt="Center for Non-profit Coaching" /></a></li>
<li><a href="http://www.centerfornonprofitcoaching.com/"><img src="{{ site.url }}/images/content/CNPC.png" alt="Center for Non-profit Coaching" /></a></li>
<li><a href="http://www.coachfederation.org/credential/landing.cfm?ItemNumber=2202&navItemNumber=745"><img src="{{ site.url }}/images/content/PCC.png" alt="Professional Certified Coach" /></a></li>
</ul>

<span>All content &copy; Dynamic Consulting, LLC.</span>

</div>
</div>


</footer>






<!-- Google Analytics -->


<!-- Foundation -->

  <script src="/assets/js/foundation/foundation.js"></script>
  <script src="/assets/js/foundation/foundation.equalizer.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>



</body>
</html>
