---
layout: default
---

<div id="banner">

<div class="row">
<div class="small-12 columns">
<h2>We help you reach your <strong>full potential</strong>.</h2>
</div>
</div>

</div>

<div id="secondary-pitch">

<div class="row">
<div class="small-12 small-centered large-7 columns">
<p>We listen.  We ask questions.  We hold you accountable.</p>

<p>We partner with you to make the changes you want in your life,
in your leadership, and in your organization. </p>

<p><strong>We coach you.</strong></p>

</div>
</div>

</div>

<!--

<div class="recent-work">

<div class="row">
<div class="small-12 columns">
<h2>Recent Work</h2>
</div>
</div>

<div class="row">

<div class="small-12 large-4 columns">
<h3>Coaching Katie</h3>
<p>Description</p>
</div>

<div class="small-12 large-4 columns">
<h3>Real Colors w/ Love INC Staff</h3>
<p>Description</p>
</div>

<div class="small-12 large-4 columns">
<h3>Coaching Barry</h3>
<p>Description</p>
</div>

</div>

</div>

-->

<div id="services">

<div class="row">
<div class="small-12 columns">
<h2>Services</h2>
</div>
</div>

<div class="row" data-equalizer>

<div class="small-12 large-3 columns ">
<ul class="pricing-table data-equalizer-watch">
<li class="title">Executive Coaching</li>
<li class="description">Description</li>
</ul>
</div>

<div class="small-12 large-3 columns data-equalizer-watch">

<ul class="pricing-table">
<li class="title">Organizational Development Consulting</li>
<li class="description">Description</li>
</ul>

</div>

<div class="small-12 large-3 columns data-equalizer-watch">

<ul class="pricing-table">
<li class="title">Real Colors &copy; Personality Assessment</li>
<li class="description">Description</li>
</ul>

</div>

<div class="small-12 large-3 columns data-equalizer-watch">

<ul class="pricing-table">
<li class="title">Group Facilitation</li>
<li class="description">Description</li>
</ul>

</div>

</div>

</div>

<div id="testimonial">

<div class="row">
<div class="small-12 large-8 large-centered columns">
<blockquote>&ldquo;Samantha is a thoughtful, articulate coach who has the ability to connect with a diversity of people and coach them in achieving their desires and goals. She brings clarity, focus and deep understanding to her clients.&rdquo; </blockquote>
<p>- Joy Persall, Northern Star Consulting</p>
</div>



</div>

</div>


<div id="about">

<div class="row">
<div class="small-12 large-8 large-centered columns">

<h2>About Dynamic Consulting</h2>

<p>Dynamic Consuling&rsquo;s founder Samantha Dye specializes in helping individuals and organizations reach their full potential.  Samantha has spent her career in diverse organizational situations.  Prior to founding Dynamic Coaching, Samantha worked at the <abbr>US</abbr> headquarters of International Relief & Development (IRD).  Samantha oversaw a large <abbr>USAID</abbr> agricultural project based in Afghanistan.  Prior to working for IRD, Samantha worked as international staff for InterVarsity/<abbr>USA</abbr>.  Samantha lived and worked for 6 years in South Africa, coaching university students on cultural and social issues.</p>

<p>Samantha earned her Master of Arts degree in Organizational Management &amp; Development and her Evidence-Based Coaching Certification from Fielding Graduate University.  Samantha is a Professional Certified Coach (<abbr>PCC</abbr>) through the International Coach Federation and is one of ten international partner coaches with the Center for Non-Profit Coaching (<abbr>CNPC</abbr>).</p>

<p>Samantha is skilled in executive coaching, group dynamics, team-building, facilitation and public speaking.  Samantha is certified as an <abbr>NCTI</abbr> Real Colors® Facilitator.  Real Colors® is an effective tool for individuals and teams in understanding human behavior and increasing personal and interpersonal awareness.</p>

<p>Samantha lives in Juneau, AK with her husband.</p>

</div>

</div>
</div>


<div id="get-in-touch">

<div class="row">
<div class="small-12 large-5 large-centered columns">

<h2>Get in touch</h2>
<p>We&rsquo;d love to work with you. Send us an email and we can get started.</p>

  <a class="button expand"><i class="icon-mail"></i> Email Dynamic Consutling</a>

</div>
</div>


</div>

{{ content }}


</div>
